.mail{
  position: fixed;
  bottom:0;
  right:-100px;
  a{
    color:#fff1e6;
    text-decoration: none;
    transform: rotate(90deg);
    padding:10px;
    position: relative;
    top:-100px
  }
  .line{
    width: .5px;
    height:100px;
    background-color: #fff1e6;
  }
}
