<section class="social-links">
  <div class="d-flex flex-column px-5 justify-content-center align-items-center">
    <a href="https://github.com/ShaimaaAKamal"><i class="fa-brands fa-github"></i></a>
    <a href="https://www.linkedin.com/in/shaimaaakamal"><i class="fa-brands fa-linkedin-in"></i></a>
    <a href="https://www.upwork.com/freelancers/~01013e2317f71a3b75"><i class="fa-brands fa-upwork"></i></a>
    <a href="https://dribbble.com/Shaimaa_A_Kamal"><i class="fa-brands fa-dribbble"></i></a>
    <a href="mailto:shaimaakamal039@gmail.com"><i class="fa-solid fa-g"></i></a>
    <div class="line"></div>
  </div>
</section>
