@use 'variables' as vars;

html{
  font-size: 16px;
  .fs-0{
  font-size: 3.5rem;
  }
.text-pink{
  color:vars.$pink-color;
}
.text-babyPink{
  color:vars.$babyPink-color;
}
.text-babyBlue{
  color:vars.$babyBlue-color;
}
.text-beg{
  color:vars.$beg-color;
}
}
