<nav>
  <span class="menu-icon" (click)="showNav()">
      <i class="fas fa-bars fa-2x" [class.rotate]="navActive" [class.opacity]="navActive"></i>
  </span>
   <div class="nav" [class.opacity]="navActive">
     <div class="nav-container position-relative" [class.active]="navActive">
        <div class="nav-circle rounded-circle circle-1 position-absolute" [routerLink]="['/Contact']" routerLinkActive="router-link-active" ><span>Contact</span></div>
        <div class="nav-circle circle-2 rounded-circle position-absolute" [routerLink]="['/Projects']"><span>Projects</span></div>
        <div class="nav-circle circle-3 rounded-circle position-absolute" [routerLink]="['/Skills']"><span>Skills</span></div>
        <div class="nav-circle circle-4 rounded-circle position-absolute" [routerLink]="['/About']"><span>About</span></div>
        <div class="nav-circle circle-5 rounded-circle position-absolute" [routerLink]="['']"><span>Home</span></div>
    </div>
   </div>
</nav>
