

@mixin circle($size, $bg-color, $left: 0px, $top: 0px, $z-index: 1) {
  width: $size;
  height: $size;
  background-color: $bg-color;
  left: $left;
  top: $top;
  z-index: $z-index;
}

@mixin span-position($top, $translateX, $rotate) {
  top: $top;
  transform: translateX($translateX) rotate($rotate);
}

nav{

 .menu-icon{
    position: fixed;
    top:30px;
    right:30px;
    z-index:10;
    color:#fff1e6;
      i {
        transition: transform .5s linear,opacity .5s linear .5s;
        &.rotate {
            transform: rotate(360deg);
          }
         &.opacity{
          opacity: 0;
        }
      }
  }

.nav {
  &.opacity{
      opacity: 1;
    }
  opacity:0;
  transition: opacity .5s linear .3s;
  position: fixed;
  right: 340px;
  top: -220px;
    .nav-circle {
        span {
          position: absolute;
          font-size: 1.2rem;
          // border-color: #CD8932;
          padding: 0 15px;
          white-space: nowrap;
          left: 50%;
          font-weight: 300;
          color: #738290;
        }


      &.circle-1 { @include circle(600px, #e2ece9);
         span { @include span-position(71.5%, -290%, 57deg); }
       }
      &.circle-2 { @include circle(500px, #fad2e1, 50px, 50px, 2);
      span { @include span-position(71%, -240%, 55deg); }}
      &.circle-3 { @include circle(400px, #fde2e4, 100px, 100px, 3);
      span { @include span-position(70%, -250%, 55deg);}}
      &.circle-4 { @include circle(300px, #fff1e6, 150px, 150px, 4);
      span { @include span-position(67%, -175%, 55deg); }}
      &.circle-5 {
       @include circle(200px, #eae4e9, 200px, 200px, 5);
        span { @include span-position(64%, -120%, 55deg); }
      }

      &:hover {
          opacity: .5;
          color: #000;
        }
  }
}
}

