
.profile-image{
  display: none;
  position: fixed;
  top:5px;
  left:-1px;
  img{
  width:100px;
  height:100px;
}

@media screen and  (min-width: 576px) and  (min-height: 700px){
  display: block;
}
}
